Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/DeadHillsLandscape/
Content/GT_SELECT18/
Content/Hand_Painted_Starter_Kit/
Content/IndustryPropsPack6/
Content/ProceduralNaturePack/
Content/SoulCity/
Content/WaterMaterials/
Content/WaterPlane/